*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black; 
    padding-bottom: 100px;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
header input{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: larger;
    border: 3px solid white;
    border-color: white;
}
header h1{
    color: white;
    letter-spacing: 2px;
}
.cards{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 20px;
}
.card{
    position: relative;
    padding: 2px;
    height: 360px;
    border-radius: 10px;
    border: 3px solid white;
    width: 25%;
}
.card img{
    width: 100%;
    height: 100%;
}
.card:hover, .card:focus{
    cursor: pointer;
    opacity: 0.7;
}
.title{
    position:absolute;
    background-color: black;
    bottom:-15px;
    right:-15px;
    
    padding: 10px;
    border-radius: 10px;
    color: white;
    border:3px solid white;
    font-size: 30px;
    font-weight: bolder;
}
/*Modul content and modul item styling*/
.module{
    background-color:rgba(230, 215, 215, 0.8);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    display:none;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0.95;
    backdrop-filter: blur(10px);

}
.module-item{
    margin: 30% auto; 
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.18);
    bottom:50%;
    height: 250px;
    background-color:black;
    position: relative;
    padding: 20%;
}
.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
    

}
.module-item img{
    position: absolute;
    bottom: 70px;
    left: 10px;
    border-radius: 10px;
    border: 2px solid white;
}
